:root {
    --font-stack: "MuseoSansRounded", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --fontSize-xs: 13px;
    --fontSize-sm: 16px;
    --fontSize-md: 18px;
    --fontSize-lg: 22px;
    --fontSize-xl: 26px;
    --fontSize-xxl: 32px;
    --fontWeight-light: 100;
    --fontWeight-regular: 300;
    --fontWeight-medium: 500;
    --fontWeight-bold: 700;
    --lineHeight-xs: 18px;
    --lineHeight-sm: 22px;
    --lineHeight-md: 28px;
    
    --primary-color: #dd8a3f;
    --primary-darker: #e09652;
    --secondary-color: #4d4d4d;
    --secondary-darker: #c27937;

  }
  